/*app pane fade animation and class*/
@keyframes app-pane-fade {
  0%{
    opacity: 0;
    right:-50px;
  }
  100%{
    opacity: 1;
    right: 0
  }
}
.app-pane-fade{
 animation-name: app-pane-fade;
 animation-duration: 0.5s;
}
