<div hover-menu>
  <img title class="user-pf" [src]="User?.PF||'/assets/user.png'">
  <div options class="user-menu">
    <div *ngIf="!loginMenu">
       <img class="user-pf" [src]="User?.PF||'/assets/user.png'">
        <div style="position:absolute;left:60px;top:10px;height:40px;width:calc(100% - 70px);display:flex;justify-content:left;align-items:center">
          {{User?.Username}}
          <br>{{User?.Email}}
        </div>
        <br>
        <div *ngFor="let user of Users" style="display:inline-block">
          <img style="margin:5px;cursor:pointer" class="user-pf" (click)='change_index(user.index)' [src]="user?.PF||'/assets/user.png'" >
        </div>
        <button (click)='open_login()' class="full-w">login with another user</button>
        <button (click)='logout()' class="full-w">Logout</button>
        <button *ngIf="Users.length" (click)='logoutAll()' class="full-w">Logout of all accounts</button>
    </div>
    <div *ngIf="loginMenu">
      <div *ngIf="!signupMenu" style="text-align:center">
        <h3>Login</h3>
        <input id='loginEmail' type='email' placeholder="Enter Email">
        <div id='loginEmailMessage'>{{Login.emailMessage}}</div>
        <input id='loginPassword' type='password' placeholder="Enter Password">
        <div id='loginPasswordMessage'>{{Login.passwordMessage}}</div>
        <label style="font-size:10px">remember me<input id="loginRemember" type="checkbox" style="margin-left:10px;width:10px;height:10px;"></label>
        <button (click)='login()' class="full-w">Login</button>
        <br>
        <button (click)='open_signup()'>new account</button>
        <div *ngIf="Users.length">
          <button (click)='close_login()'>close login</button>
        </div>
      </div>
      <div *ngIf="signupMenu" style="text-align:center">
        <h3>Signup</h3>
        <input id='signupUsername' type='name' placeholder="Enter New Username">
        <div id='signupUsernameMessage'>{{Signup.usernameMessage}}</div>
        <input id='signupEmail' type='email' placeholder="Enter New Email">
        <div id='signupEmailMessage'>{{Signup.emailMessage}}</div>
        <input id='signupPassword' type='password' placeholder="Enter New Password">
        <div id='signupPasswordMessage'>{{Signup.passwordMessage}}</div>
        <button (click)='signup()'>signup</button>
        <br>
        <button (click)='close_signup()'>back to login</button>
      </div>
    </div>
  </div>
</div>
