/*active index styles*/
.activeIndex{
  color:red;
  font-weight: bold;
}
/*grid styles*/
.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left:0
}
