/*import reboto font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/*Variabals*/
:root{
  --banner-height:90px;
  --primary:black;
  --secondary:white;
  --tritary:orange;
  --background:#fff;
  --midground:#eee;
  --forground:#ddd;
}
/*Global styles*/
body{
  margin:0;
  color:var(--primary);
  background:var(--background);
  font-family: 'Ubuntu', sans-serif;
}
a{
  text-decoration: none;
  color:currentColor;
  margin-right: 5px;
}
input,button,textarea{
  margin: 0;
  padding: 0;
  border: 0;
}
input{
  text-align: center;
  height: 30px;
}
button{
  height: 30px;
  cursor: pointer;
}
/*styling tools*/
.center{

}
.full-w{
  width: 100%;
}
.full-h{
  height: 100%;
}
